<div class="jumbotron">
    <div class="text-white text-center py-2">
        <div>
            <h4 class="white-text mt-2">
                <strong>Mats Clavell's Kiropraktorklinik</strong>
            </h4>
            <div>
                <img src="/assets/images/loading-bars.svg" class="pink-text text-center" width="64" height="64" />
            </div>

            <h3 class="card-title pt-2">
                <strong>Bokningen är skickad</strong>
            </h3>
            <h3 class="card-title pink-text">
                <strong>Mats Clavell </strong>
            </h3>
            <h3 class="card-title">
                <strong>meddelar dig om eventuella ändringar </strong>
            </h3>
        </div>
    </div>

</div>