<!-- <div class="card card-body elegant-color card-image mb-3" style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20(10).jpg');"> -->
<!-- <app-first-step></app-first-step> -->
<!--   
<div class="text-center mt-1-half">
    <button class="btn btn-blue mb-2 waves-light radius-btn" routerLink='first-step'>Första steget
      <i class="fa fa-send ml-1"></i>
    </button>
  </div> -->

  <router-outlet></router-outlet>
  <!-- <div class="card-body special-color-dark white-text">
  <form [formGroup]="bookingForm" (ngSubmit)=sendRequestForBooking()>

    <div class="md-form form-sm white-text">
      <i class="fa fa-calendar prefix"></i>

      <mdb-date-picker name="mydate" [options]="myDatePickerOptions" formControlName="date" data-error="*Datum saknas" [placeholder]="'*Välj datum'" required></mdb-date-picker>

    </div>
    <div class="md-form form-sm white-text">
      <i class="fa fa-user prefix"></i>
      <input mdbInputDirective type="text" id="formName" formControlName="name" data-error="*Namn saknas" data-success=" " class="form-control special-color-dark white-text"
        required>
      <label for="formName">Namn *</label>
    </div>

    <div class="md-form form-sm white-text">
      <i class="fa fa-lock prefix"></i>
      <input mdbInputDirective type="text" id="formPersonNumber" formControlName="personnumber" data-error="*Personnummer saknas -/ felaktigt"
        data-success=" " class="form-control special-color-dark white-text" required>
      <label for="formPersonNumber">Personnummer 10 siffror *</label>
    </div>

    <div class="md-form form-sm white-text">
      <i class="fa fa-envelope prefix"></i>
      <input mdbInputDirective type="email" id="formEmail" formControlName="email" data-error="*Email saknas -/ felaktigt" data-success=" "
        class="form-control special-color-dark white-text" required>
      <label for="formEmail">Email *</label>
    </div>

    <div class="md-form form-sm white-text">
      <i class="fa fa-phone prefix"></i>
      <input mdbInputDirective type="text" id="formTelephone" formControlName="phone" data-error="*Telefon saknas -/ felaktigt"
        data-success=" " class="form-control special-color-dark white-text" required>
      <label for="formTelephone">Telefon *</label>
    </div>

    <div class="md-form form-sm white-text">
      <i class="fa fa-comments-o prefix"></i>
      <input mdbInputDirective type="text" id="formDescription" formControlName="description" data-success=" " class="form-control special-color-dark white-text">
      <label for="formDescription">Beskriv dina besvär..</label>
    </div>

    <div class="text-center mt-1-half">
      <button class="btn btn-blue mb-2 waves-light radius-btn" mdbWavesEffect [disabled]="!bookingForm.valid">Skicka förfrågan
        <i class="fa fa-send ml-1"></i>
      </button>
    </div>
  </form>
</div> -->