<div class="jumbotron">
  <div class="text-white text-center py-2">
    <div>
      <p class="white-text mt-2">
        <strong>Mats Clavells Kiropraktorklinik</strong>
      </p>
      <p class="pink-text">
        <i class="fa fa-calendar fa-4x"></i>
      </p>

      <h3 class="card-title pt-2">
        <strong>Välkommen till Clavells online bokning </strong>
      </h3>
      <p class="white-text">Tack för att du använder denna sida för att boka din tid hos oss</p>

      <a class="btn radius-btn-pink mb-4 mt-4" routerLink='/booking/first-step' mdbWavesEffect>
        <i class="fa fa-clone left"></i>Gå till bokning</a>
    </div>
  </div>

</div>