<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark special-color-dark scrolling-navbar ie-nav"
    [containerInside]="false">
    <logo>
        <a class="logo navbar-brand" routerLink=''>
            <strong>Bokning på nätet</strong>
        </a>
    </logo>
<!-- 
    <links *ngIf="!isLoggedIn">
        <ul class="navbar-nav">           
            <li class="nav-item active">
                <a class="nav-link waves-light" routerLink="/admin" mdbWavesEffect>Admin<span class="sr-only">(current)</span></a>
            </li>
           
            <li class="nav-item">
                <a href="#" *ngIf="isLoggedIn" class="nav-link text-white p-3 mb-2 sidebar-link" (click)="authService.signOut()">
                    <i class="fa fa-unlock left text-light fa-lg mr-2"></i>Logga ut
                  </a>
            </li>
           
        </ul>
    </links> -->
</mdb-navbar>